extends layout

block content
  h1 Welcome to Zalo Me #{title}
  p Đăng nhập tài khoản Zalo để kết nối với ứng dụng Zalo Me Web
  img(src='data:image/jpg;base64,#{imageQrCode}')
  p Quét mã QR bằng Zalo để đăng nhập
